.alumini-title{
    padding-top: 45px;
}


.yumiao-title h4 {
    font-family: Helvetica Neue LT Pro;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #585858;
    padding-left: 75px;
}

.yumiao-title {
    position: relative;
    padding-top: 45px;
}

.yumiao-cat-hand img {
    position: absolute;
    top: 4px;
    left: -52px;
}

.yumiao-images h2 {
    font-family: Helvetica Neue LT Pro;
    font-size: 52px;
    font-weight: 700;
    line-height: 49.4px;
    text-align: center;
    color: #585858;
    padding-left: 95px;
    padding-top: 50px;
}

.yumiao-images {
    position: relative;
}

.yumiao-rectangle {
    position: absolute;
    max-width: 382px;
    top: -15px;
    right: -20px;
    height: auto;
    z-index: -1;
}

.yumiao-cat img {
    max-width: 200px;
}

.truffle-background img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    top: 50px;
    left: 0;
    right: 0;
    z-index: -1;
}

.truffle-box {
    max-width: 280px;
    background-color: #fff;
    padding: 15px;
    border-radius: 28px;
    box-shadow: 3.5px 3.5px 17.51px 0px #0000001A;
}

.truffle-list ul {
    list-style-type: none;
}

.truffle-img {
    position: relative;
}

.truffle-img img {
    max-width: 100%;
    height: auto;
    border-radius: 28.63px;
}

.truffle-cat-logo {
    position: absolute;
    top: 22px;
    left: 22px;
}


.truffle-content {
    padding-top: 35px;
    padding-bottom: 15px;
    background-color: #7F91AD;
    color: #fff;
    margin-top: -25px;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
}

.pink{
    background-color: #FFC1AD;
}


.alumini{
    padding-top: 20px;
    padding-bottom: 25px;
    position: relative;
}

.alumini-background img{
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
    bottom: -50px;
    left: 0;
}

.last-box .truffle-box{
    margin-left: 18px;
    margin-right: 18px;
}

.view .btn{
    padding: 20px 70px;
    margin-top: 55px;
}

